:root {
    --main-blue: #4128FF;
    /*    --main-bluetrans: rgba(65, 40, 255, 0.70);*/
}

body {
    margin: 15px;
    background-color: var(--main-blue);
    overflow-x: hidden;
}

h1 {
    font-family: 'Patua One', cursive;
    font-size: 43px;
    font-weight: 400;
    color: white;
    margin: 0;
    margin-bottom: 15px;
}


h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
    margin: 0;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10pt;
    color: var(--main-blue);
    margin-top: -8px;
    margin-bottom: 10px;
    padding: 5px 10px;

    background-color: white;
    border-radius: 30px;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #FFE128;
}

a:hover {
    text-decoration: underline;
}

.gruppe {
    width: 110px;
}

.individuel {
    width: 138px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
}

img {
    width: 100%;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: -4px;
}

/* NAV */

header {
    z-index: 1;
    position: relative;
}

nav {
    position: relative;
}

#navwrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#navwrapper a {
    font-family: 'Patua One', cursive;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

#navpunkt {
    flex-grow: 1;
}

#navsplit {
    margin: 8px 15px 15px 15px;
    height: 16px;
    width: 100%;
    background-color: white;

    flex-grow: 2;
}

#pfmenu {
    top: 60px;
    right: 0px;
    width: 230px;
    background-color: var(--main-blue);
    border-bottom-left-radius: 70px;

    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: right;

    transition: transform 0.5s;

    margin-top: -31px;

    position: absolute;
}

#pfmenu ul {
    list-style: none;
    font-weight: 400;
    text-transform: uppercase;
}

#pfmenu li a {
    text-decoration: none;
    font-weight: 700;
    color: white;
}

#pfmenu li a:hover {
    text-decoration: underline;
    font-weight: 700;
    color: white;

}

#pfmenu .brheight {
    line-height: 70%;
}

.hidden {
    transform: translateX(+100%);
    animation-name:
}

/* container boks der samler hele siden undtagen menu */

#container {
    /*    padding: 15px;*/
    margin: auto;
    max-width: 900px;
    z-index: 0;
    position: relative;
}

/* Forside */

.profile {
    width: 180px;
    box-shadow: none;

    display: block;
    margin: 20% auto 10px auto;
}

.forside {
    text-align: center;
}

#vitae_button {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 400;

    padding: 15px 45px;
    margin: 15px;

    position: absolute;
    right: 0;
    bottom: 0;

    border: solid;
    border-width: 2px;
    border-color: white;

    transition-duration: 0.4s;
}

#vitae_button:hover {
    background-color: white;
    color: var(--main-blue);
}

/* Om mig */

.profiltekst {
    max-width: 480px;
    display: block;

    margin: 0px auto;
}

.profilbillede {
    width: 200px;
    border-radius: 100px;

    display: block;
    margin: 30px auto;
}

/* Style til tekst alene i midt */

.txt {
    flex-basis: 0;
    flex-grow: 5;
    max-width: 480px;

    display: block;
    margin: 0 auto;
}

/* Sectionwrapper */

#sectionwrapper {
    display: flex;
    flex-direction: row;
    margin: 0 -10px;
}

@media only screen and (max-width: 600px) {
    #sectionwrapper {
        display: flex;
        flex-direction: column;
    }
}

/* kolonne */

#sectionwrapper .column {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
}

#sectionwrapper .column p {
    margin-top: 0px;
}



#sectionwrapper .ordboble {
    /*    background-color: white;*/
    border: dashed;
    border-width: 1px;
    border-color: white;
    margin-bottom: 10px;

    width: 100%;
}

#sectionwrapper .ordboble p {
    text-align: center;
    padding-top: 14px;

    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.3px;
}

/* Værktøjssection */

#toolsection {
    border: solid;
    border-width: 1px;
    border-color: white;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#toolsection .tool {
    height: 50px;
    width: 50px;
    position: relative;

    border: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 50px;
    margin: 10px;

}

#toolsection .tool img {
    width: 70%;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    left: 50%;
    margin-left: -16px;
    box-shadow: none;
}

/* Link knap */

#link-knap {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}

#link_button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
    padding: 15px 45px;
    margin: 15px;

    border: solid;
    border-width: 2px;
    border-color: white;

    transition-duration: 0.4s;
}

#link_button:hover {
    background-color: white;
    color: var(--main-blue);
}
