body {
    margin: auto;
    background-color: darkgray;
    background-color: var(--main-blue);
}

:root {
    --main-blue: #4128FF;
}

h1 {
    font-family: 'Patua One', cursive;
    font-size: 43px;
    font-weight: 400;
    color: white;
    margin-bottom: -10px;
    margin-top: 2px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
}

img {
    width: 100%;
}

/* NAV */

#navwrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#navwrapper a {
    font-family: 'Patua One', cursive;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

#navpunkt {
    padding: 15px;
    flex-grow: 1;
}

#navsplit {
    margin-top: 22px;
    height: 16px;
    width: 100%;
    background-color: white;

    flex-grow: 2;
}

#pfmenu {
    text-align: right;
    transition: transform 0.5s;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding-right: 15px;
    margin-top: -15px;
}

#pfmenu ul {
    list-style: none;
    font-weight: 400;

}

#pfmenu li a {
    text-decoration: none;
    font-weight: 700;
    color: white;
}

#pfmenu li a:hover {
    text-decoration: underline;
    font-weight: 700;
    color: white;

}

#pfmenu .brheight {
    line-height: 70%;
}

.hidden {
    transform: translateX(+60%)
}

/* Forside */

#container {
    padding: 15px;
    margin: auto;
    max-width: 900px;
}

#vitae_button {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: white;

    padding: 15px 45px;
    margin: 15px;

    position: absolute;
    right: 0;
    bottom: 0;

    border: solid;
    border-width: 2px;
    border-color: white;

    transition-duration: 0.4s;
}

#vitae_button:hover {
    background-color: white;
    color: var(--main-blue);
}

/* Portfolio titel sektion */

#portfolio_title {
    display: flex;
    flex-direction: row;
}

#portfolio_title .column_narrow {
    flex-grow: 1;
}

#portfolio_title .column_wide {
    flex-grow: 2;
    padding-left: 15px;
}

/* Sectionwrapper */

#sectionwrapper {
    display: flex;
    flex-direction: row;
}

/* Tre kolonner section */

#sectionwrapper .column {
    flex-grow: 1;
    padding: 5px;
}

/* Værktøjssection */

#toolsection {
    border: solid;
    border-width: 1px;
    border-color: white;

    display: flex;
    justify-content: center;
}

#toolsection .tool {
    height: 50px;
    width: 50px;
    position: relative;

    border: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 50px;
    margin: 10px;

}

#toolsection .tool img {
    width: 70%;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    left: 50%;
    margin-left: -16px;
}

/* Link knap */

#link-knap {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#link_button {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: white;

    padding: 15px 45px;
    margin: 15px;

    border: solid;
    border-width: 2px;
    border-color: white;

    transition-duration: 0.4s;
}

#link_button:hover {
    background-color: white;
    color: var(--main-blue);
}
