:root {
    --main-blue: #4128FF;
    --main-bluetrans: rgba(65, 40, 255, 0.70);
}

body {
    margin: auto;
    background-color: var(--main-blue);
    overflow-x: hidden;
}

h1 {
    font-family: 'Patua One', cursive;
    font-size: 43px;
    font-weight: 400;
    color: white;
    margin: 0;
    margin-bottom: 15px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
    margin: 0;
    margin-top: -5px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10pt;
    color: var(--main-blue);
    margin-top: -8px;
    margin-bottom: 10px;
    padding: 5px 10px;

    width: 110px;

    background-color: white;
    border-radius: 30px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin-top: 0px;
}

img {
    width: 100%;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

/* NAV */
nav {
    position: relative;
}

#navwrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#navwrapper a {
    font-family: 'Patua One', cursive;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

#navpunkt {
    padding: 15px;
    flex-grow: 1;
}

#navsplit {
    margin-top: 22px;
    height: 16px;
    width: 100%;
    background-color: white;

    flex-grow: 2;
}

#pfmenu {
    top: 60px;
    right: 0px;
    width: 230px;
    background-color: var(--main-bluetrans);
    border-bottom-left-radius: 70px;

    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: right;

    transition: transform 0.5s;

    padding-right: 15px;
    margin-top: -15px;

    position: absolute;
}

#pfmenu ul {
    list-style: none;
    font-weight: 400;
    text-transform: uppercase;
}

#pfmenu li a {
    text-decoration: none;
    font-weight: 700;
    color: white;
}

#pfmenu li a:hover {
    text-decoration: underline;
    font-weight: 700;
    color: white;

}

#pfmenu .brheight {
    line-height: 70%;
}

.hidden {
    transform: translateX(+100%);
    animation-name:
}

/* Forside */

#container {
    padding: 15px;
    margin: auto;
    max-width: 900px;
    z-index: 0;
    position: relative;
}

header {
    z-index: 1;
    position: relative;
}

#vitae_button {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: white;

    padding: 15px 45px;
    margin: 15px;

    position: absolute;
    right: 0;
    bottom: 0;

    border: solid;
    border-width: 2px;
    border-color: white;

    transition-duration: 0.4s;
}

#vitae_button:hover {
    background-color: white;
    color: var(--main-blue);
}

/* Portfolio titel sektion */

#portfolio_title {
    display: flex;
    flex-direction: row;
    margin: 0 -10px;
}

#portfolio_title .column_narrow {
    flex-basis: 0;
    flex-grow: 3;
    padding: 10px;
}

#portfolio_title .column_wide {
    flex-basis: 0;
    flex-grow: 5;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    #portfolio_title {
        display: flex;
        flex-direction: column-reverse;
    }

    #portfolio_title .column_narrow {
        padding: 0px;
    }

    #portfolio_title .column_wide {
        padding-left: 0px;
    }

}

/* Sectionwrapper */

#sectionwrapper {
    display: flex;
    flex-direction: row;
    margin: 0 -5px;
}

@media only screen and (max-width: 600px) {
    #sectionwrapper {
        display: flex;
        flex-direction: column;
    }
}

/* kolonne */

#sectionwrapper .column {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
}

#sectionwrapper .ordboble {
    /*    background-color: white;*/
    border: dashed;
    border-width: 1px;
    border-color: white;
    margin-bottom: 10px;

    width: 100%;
}

#sectionwrapper .ordboble p {
    text-align: center;
    padding-top: 14px;

    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.3px;
}

/* Værktøjssection */

#toolsection {
    border: solid;
    border-width: 1px;
    border-color: white;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#toolsection .tool {
    height: 50px;
    width: 50px;
    position: relative;

    border: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 50px;
    margin: 10px;

}

#toolsection .tool img {
    width: 70%;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    left: 50%;
    margin-left: -16px;
    box-shadow: none;
}

/* Link knap */

#link-knap {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}

#link_button {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: white;
    padding: 15px 45px;
    margin: 15px;

    border: solid;
    border-width: 2px;
    border-color: white;

    transition-duration: 0.4s;
}

#link_button:hover {
    background-color: white;
    color: var(--main-blue);
}
